.header nav {
    background-color: FFF;
    padding: 10px;
    font-size: 20px;  
    margin: -40px 10px -30px 20px ;
  }

  .header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
  }
  
  .header nav ul li {
    display: inline-block;
    /* margin-right: 10px; */
    margin: -90px 20px 0px 20px ;
  }
  
  .header nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 5px;
  }
  
  .header nav ul li a:hover {
    background-color: #333;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .header {
      text-align: center; /* Center align the elements in the header */
    }

    .header nav {
      display: inline-block; /* Show the nav as a block */
    }

    .header img {
      display: block; /* Make the logo image take full width */
      /* margin: 0 auto; Center the logo image */
      margin: 30px 90px 65px 100px;
      height: 120px; /* Adjust the logo height for smaller screens */
    }

    ul {
      padding: 20;
      margin-top: -20px; /* Add some spacing below the logo */
    }

    li {
      list-style: none; /* Remove the default list style */
    }

    li a {
      display: block; /* Make each navigation link take full width */
      padding: 10px 0; /* Add some vertical spacing for each link */
    }
  }

  /* Tablet-specific styles */
  @media (min-width: 769px) and (max-width: 1024px) {
    /* Adjust styles for tablets here */
    img {
      height: 140px; /* Adjust the logo height for tablet screens */
    }
  }

  /* Desktop-specific styles */
  @media (min-width: 1025px) {
    /* Adjust styles for desktop here */
    img {
      height: 160px; /* Revert the logo height to the original size for desktop screens */
    }

    ul {
      display: flex; /* Display the navigation links in a row */
      justify-content: space-between; /* Spread the links horizontally */
    }

    li {
      margin: 0 10px; /* Add some spacing between the links */
    }
  }