body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header nav {
  background-color: FFF;
  padding: 10px;
  font-size: 20px;
  margin: -40px 10px -30px 20px;
}

.header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.header nav ul li {
  display: inline-block;
  margin: -90px 20px 0px 20px;
}

.header nav ul li a {
  color: #333;
  text-decoration: none;
  padding: 50px;
}

.header nav ul li a:hover {
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

#artistInfoSection,
#videoSection {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }

  .header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .header img {
    display: block;
    margin: 0 auto;
    height: auto;
    margin-bottom: 10px;
  }

  ul {
    padding: 20px;
    margin-top: -20px;
  }

  li {
    list-style: none;
  }

  li a {
    display: block;
    padding: 10px 0;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  img {
    height: 140px;
  }
}

@media (min-width: 1025px) {
  img {
    height: 160px;
  }

  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    margin: 0 10px;
  }
}

.search-container input[type="text"] {
  flex: 1;
  width: 100%;
  margin-right: 7rem;
}

h1.text-3xl {
  text-align: center;
}



  